apiVersion: k3d.io/v1alpha5 
kind: Simple 
metadata:
  name: captain
servers: 1
agents: 6
image: rancher/k3s:v1.30.9-k3s1@sha256:1273f15423b0dd0625e0b4742f8fb2bff1ce1ba4853cce1b5961ba9294b45fad
registries:
#   create:
#     name: docker-io # name of the registry container
#     proxy:
#       remoteURL: https://registry-1.docker.io # proxy DockerHub
#       username: <DOCKER_USERNAME>
#       password: <DOCKER_PASSWORD>
#     volumes:
#       - /tmp/reg:/var/lib/registry # persist data locally in /tmp/reg
#   config: | # tell K3s to use this registry when pulling from DockerHub
#     mirrors:
#       "docker.io":
#         endpoint:
#           - http://docker-io:5000
  config: | 
    mirrors:
      "docker.io":
        endpoint:
          - http://dev-only-registry.glueopshosted.com:5000
      "quay.io":
        endpoint:
          - http://dev-only-registry.glueopshosted.com:5001
      "ghcr.io":
        endpoint:
          - http://dev-only-registry.glueopshosted.com:5002
      "gcr.io":
        endpoint:
          - http://dev-only-registry.glueopshosted.com:5003
      "public.ecr.aws":
        endpoint:
          - http://dev-only-registry.glueopshosted.com:5004
      "mcr.microsoft.com":
        endpoint:
          - http://dev-only-registry.glueopshosted.com:5005
      "registry.gitlab.com":
        endpoint:
          - http://dev-only-registry.glueopshosted.com:5006
      "registry.k8s.io":
        endpoint:
          - http://dev-only-registry.glueopshosted.com:5007
          
options:
  k3d:
    disableLoadbalancer: true
  k3s:
    extraArgs:
      - arg: --disable=cloud-controller
        nodeFilters:
          - server:*
      - arg: --disable=helm-controller
        nodeFilters:
          - server:*
      - arg: --disable=traefik
        nodeFilters:
          - server:*
      - arg: --disable=servicelb
        nodeFilters:
          - server:*
    nodeLabels:
      - label: glueops.dev/role=glueops-platform 
        nodeFilters:
          - agent:1,2,3
      - label: glueops.dev/role=glueops-platform-argocd-app-controller
        nodeFilters:
          - agent:4
